:root{
    --header-color: #212121;
    --accent-color: #2196F3;
    --paragraph-color: #757575;
    --contrast-color: #fff;
    --backgroung-color: #2F303A;
    --footer-link: rgba(255, 255, 255, 0.6);
    --portfolio-btns: #F5F4FA;
    --btn-hover: #188CE8;
    --size-of-gap: 94px;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--header-color);
}

h1,h2,h3,h4,h5,h5,p,ul{
    margin: 0;
    padding: 0;
}

input, textarea{
    margin: 0;
    padding: 0;
}

/* --------------- HEADER------------------ */

.pic{
    display: block;
}

.container{
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section{
    padding-top: var(--size-of-gap);
    padding-bottom: var(--size-of-gap);
    /* outline: 1px solid tomato; */
}

.header{
    border-bottom: 1px solid #ECECEC;
}

.header-box{
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0;
}

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--header-color);

    margin-right: 93px;
}

.logo-item{
    color: var(--accent-color);
}

.header-list{
    display: flex;
    align-items: center;
}

.header-list-item:not(:last-child){
    margin-right: 50px;
    
}

.header-list-item, .qualities-list-item,
.about-list-item,
.team-list-item, .address-list-item {
    list-style-type: none;
}


.header-list-link {
    position: relative;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--header-color);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    bottom: -32px;
    opacity: 0;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list{
    display: flex;
    margin-left: auto;
    max-height: 80px;
}

.address-list-item{
    display: flex;
    align-items: center;
}

.address-list-link{
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--paragraph-color);
    margin-top: auto;
    margin-bottom: auto;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-item:not(:last-child){
    margin-right: 50px;
}

.header-list-link:hover, .address-list-link:hover, .header-list-link:focus,
.address-list-link:focus{
    color: var(--accent-color);
}

.header-icons{
    display: block;
    max-height: 80px;
    margin-right: 10px;
    fill: #757575;
}

.address-list-link:hover .header-icons, .address-list-link:focus .header-icons{
    fill: var(--accent-color);
}

.header-list-link:hover::after, .header-list-link:focus::after{
    opacity: 1;
}

.link-1::after{
    opacity: 1;
}

.link-1{
    color: var(--accent-color);
}

/* --------------- MAIN------------------ */

/* ------- HERO--------- */

.hero{
    max-width: 1600px;
    min-height: 600px;
    background-color: var(--backgroung-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)
        ), url(../images/bg-image.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;

    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
}


.hero-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--contrast-color);

}

.hero-btn{
    font-weight: 700;
    color: var(--contrast-color);
    background-color: var(--accent-color);
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 32px;
    text-align: center;
    border: transparent;
    letter-spacing: 0.06em;
    
    margin-top: 30px;
    height: 50px;
    min-width: 120px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover, .hero-btn:focus{
    background-color: var(--btn-hover);
}

/* ------- QUALITIES--------- */

.qualities-section{
    padding-bottom: 0;
}

.entry-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.qualities-list{
    justify-content: center;
    display: flex;
}

.icons-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F4FA;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
}

.qualities-list-item:not(:last-child){
    margin-right: 30px;
}

.qualities-list-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.qualities-list-paragraph{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
    margin-top: 10px;
}

/* ------- ABOUT--------- */

.about-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.about-list{
    display: flex;
}

.about-list-item:not(:last-child){
    margin-right: 30px;
}

.about-list-item{
    position: relative;
}


.describing-box{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 70px;

    color: var(--contrast-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8));
    /* transform: translateY(-70px); */
}

.describing-text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* ------- TEAM--------- */

.team {
    background-color: var(--portfolio-btns);
}

.team-list{
    display: flex;
}

.team-list-item:not(:last-child){
    margin-right: 30px;
}

.team-list-item{
    background-color: var(--contrast-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team-icon-list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 16px;
}

.icon-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icons{
    fill: #AFB1B8;
}

.icon-link:hover, .icon-link:focus{
    background-color: var(--accent-color);   
}

.icon-link:hover .team-icons, .icon-link:focus .team-icons {
    fill: var(--contrast-color);
}

.team-list-header{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team-list-paragraph{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

/* ------- REGULAR CUSTOMERS--------- */

.reg-cust-list{
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.customer-link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px #AFB1B8 solid;
    border-radius: 4px;
    fill: #AFB1B8;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover{
    fill: var(--accent-color);
    border-color: var(--accent-color);
}

.list-item:not(:last-child) {
    margin-right: 30px;
    
}

/* --------------- FOOTER------------------ */

.footer{
    background-color: var(--backgroung-color);
    padding: 60px 0 60px 0;
}

.footer-address{
    font-size: 14px;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contrast-color);
}

.footer-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link);
    text-decoration: none;
    display: block;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address, .footer-link{
    margin-bottom: 9px;
}

.footer-link:hover,.footer-link:focus  {
    color: var(--accent-color);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--contrast-color);

    display: inline-block;
    margin-bottom: 20px;
}

.footer-logo-item {
    color: var(--accent-color);
}

.social-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    text-transform: uppercase;
    color: var(--contrast-color);
}

.footer-container{
    display: flex;
}

.social-link-container{
    margin-left: 70px;
    margin-top: 12px;
}

.social-icons{
    width: 20px;
    height: 20px;
    fill: var(--contrast-color);
}

.icon-item:not(:last-child){
    margin-right: 10px;
}

.footer-email-container{
    margin-top: 12px;
    margin-left: 92px;
}

.footer-imput-container{
    margin-top: 20px;
}

.footer-imput{
    width: 358px;
    height: 50px;

    color: var(--contrast-color);

    padding-left: 16px;

    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    outline: none;
}

.footer-imput:focus{
    border-color: var(--contrast-color);
}

.footer-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    position: relative;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    margin-left: 12px;

    /* padding: 10px 62px 10px 29px; */
}

.footer-send-icons{
    fill: var(--contrast-color);

    width: 24px;
    height: 24px;

    margin-left: 10px;
}

/* ------------------------------- PORTFOLIO-------------------------------------- */

/* --------------- CHOICE FILTER------------------ */

.filter{
    margin-bottom: 50px;
    padding: 0;
}

.filter-list{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filter-list-item:not(:last-child){
    margin-right: 9px;
}

.filter-list-item, .product-list-item{
    list-style-type: none;
}

.filter-list-btn{
    font-family: 'Roboto';
    background-color: var(--portfolio-btns);
    
    font-weight: 500;
    line-height: 1.62;    
    letter-spacing: 0.03em;

    border-radius: 4px;
    border: transparent;
    padding: 6px 22px;
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list-btn:hover, .filter-list-btn:focus {
    font-family: inherit;
    background-color: var(--accent-color);
    color: var(--contrast-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* --------------- PRODUCT------------------ */

.product{
    padding: 0;
}

.product-list{
    display: flex;
    flex-wrap: wrap;
}

.description-container{
    padding: 20px 24px;
    border-bottom: 1px solid #EEEEEE ;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

.product-list-item:not(:nth-child(3n)){
    margin-right: 30px;
}

.product-list-item:nth-last-child(n+2){
    margin-bottom: 30px;
}

.product-list-item:last-child{
    margin-bottom: 30px;
}

.product-list-link{
    display: block;
    text-decoration: none;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-list-link:hover, .product-list-link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-list-header{
    color: var(--header-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-decoration: none;
    margin-bottom: 4px;
}

.product-list-paragraph{
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

.product-container{
    height: 100%;
    position: relative;
    overflow: hidden;
}

.product-item-description{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    color: var(--contrast-color);
    background: rgba(33, 150, 243, 0.9);
    
    transition-property: backgroung-color, p;
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    padding: 63px 24px;
}

.product-list-link:hover .product-item-description{
    transform: translateY(0);
}



/* ------------------------------- MODAL-------------------------------------- */

.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.2);
    transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    
    background-color: var(--contrast-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    padding: 40px;
}

.modal-btn {
    position: absolute;
    right: 8px;
    top: 8px;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--contrast-color);
    cursor: pointer;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon{
    display: inline-flex;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 5px;
    right: 5px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon:hover, .close-icon:focus{
    fill: var(--accent-color);
}

.form-header{
    margin-bottom: 12px;
}

.modal-form{
    display: flex;
    flex-direction: column;
}

.form-lable:not(:last-child){
    margin-bottom: 10px;
}

.form-lable{
    display: flex;
    flex-direction: column;
    
}

.form-imput{
    background-color: transparent;

    width: 100%;
    height: 40px;

    padding-left: 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-imput:focus + .form-icons{
    fill: var(--accent-color);
}

.form-imput:focus, .form-text:focus {
    outline: none;
    border-color: var(--accent-color);
}

.input-container{
    position: relative;
}

.form-icons{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    width: 18px;
    height: 18px;
}

.form-text{
    background-color: transparent;
    resize: none;
    padding: 12px 16px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    box-sizing: border-box;
    border-radius: 4px;

    height: 120px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-text::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    
    color: rgba(117, 117, 117, 0.5);
}

.form-header{
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--header-color);
}

.lable-name{
    font-size: 12px;
    line-height: 1.17;
    
    letter-spacing: 0.01em;
    
    color: var(--paragraph-color);

    margin-bottom: 4px;
}

.checkbox-lable{
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.checkbox-name{
    margin-left: 8px;
    font-size: 14px;
    line-height: 1.71;
    
    letter-spacing: 0.03em;

    color: var(--paragraph-color);
}

.accept-link{
    color: var(--accent-color);
}

.accept-link:hover {
    text-decoration: none;
}

.check-icon{
    position: relative;
    width: 16px;
    height: 15px;
    display: inline-block;

    border-radius: 2px;
    border: 2px solid var(--header-color);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-checkbox:checked + .check-icon{
    z-index: 1;
    background-color: var(--accent-color);
    border-color: transparent;
    
}

.modal-check-icon{
    position: absolute;
    z-index: -1;
    top: -2px;
    left: -2px;

    width: 16px;
    height: 15px;
}

.input-checkbox:checked ~ .modal-check-icon{
    z-index:2;
}

.input-checkbox:focus + .check-icon{
    box-shadow: 0 0 8px rgb(0, 0, 0, 0.5);
}

.input-checkbox{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    position: absolute;
}

.submit-button{
    height: 50px;
    width: 200px;

    color: #fff;

    background-color: var(--accent-color);
   
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.second-modal-btn{
    margin-top: 30px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.submit-button:hover, .submit-button:focus{
    outline: none;
    background-color: var(--btn-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
    
}