.reg-cust__list {
    @include flexPosition();
    list-style: none;
}
.reg-cust__item:not(:last-child) {
    margin-right: 30px;
}

.reg-cust__link {
    @include flexPosition();

    width: 170px;
    height: 92px;
    border: 1px #AFB1B8 solid;
    border-radius: 4px;
    fill: #AFB1B8;

    @extend %transtion;

    &:hover {
        fill: $accent-color;
        border-color: $accent-color;
    }
}