.team {
    background-color: $portfolio-btns;
}

.team__list {
    display: flex;
}

.team__item {
    background-color: $contrast-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.team__container {
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__icon-list {
    @include flexPosition();
    list-style: none;
    margin-top: 16px;
}

.team__icon-link {
    @include flexPosition();
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    @extend %transtion;

    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.team__icons {
    fill: #AFB1B8;

    .team__icon-link:hover &,
    .team__icon-link:focus & {
        fill: $contrast-color;
    }
}

.team__header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.team__paragraph {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: $paragraph-color;
}