.social__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;

    text-transform: uppercase;
    color: $contrast-color;
}

.footer__container {
    display: flex;
}

.social__container {
    margin-left: 70px;
    margin-top: 12px;
}

.social-icons {
    width: 20px;
    height: 20px;
    fill: $contrast-color;
}

.team__icon-item:not(:last-child) {
    margin-right: 10px;
}